.div {
  width: 30vw;
  height: fit-content;
  overflow-y: scroll;
  margin: 0 0 1.5vw;
}

.div::-webkit-scrollbar {
  width: 0;
}

.detailReview {
  margin: 0 1vw;
  border: 0.1vw solid #b7b7b7;
  border-radius: 10px;
  padding: 1vw;
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.25);
}

.reviewTop {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.exitYear {
  font-size: 1vw;
  font-weight: 700;
  border: 0.15vw solid #b7b7b7;
  border-radius: 5px;
  padding: 0.1vw 0.6vw;
  margin-right: 1vw;
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.25);
}

.detailTitle {
  margin: 4vh 0 2vh 0;
  font-size: 1.5vw;
  font-weight: 700;
  margin-left: 1.5vw;
}

.bigStarDiv {
  width: 26vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3vh 0 2vh;
}

.bigStar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.fourRating {
  display: flex;
  flex-direction: column;
  margin-top: 1.5vh;
}

.row {
  display: flex;
  flex-direction: row;
}

.rating {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 12vw;
  margin: 1vh 1vw;
}

.ratingTitle {
  font-size: 1vw;
  font-weight: 700;
}

.ratingStar {
  margin-top: 0.5vh;
}

.reviewAddressInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  margin: 2vh 0 0 0;
}

.reviewFloor {
  margin: 0 1vw 0 0;
}

.reviewAddress {
  font-weight: 700;
  width: fit-content;
  margin: 0 0 0 1vw;
  font-size: 1vw;
}

.reviewMoneyInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  margin: 2vh 0 0 0;
}

.reviewMaintenance {
  padding: 0.1vw 0.6vw;
  font-weight: 700;
  border: 0.15vw solid #b7b7b7;
  border-radius: 5px;
  width: fit-content;

  margin-left: 1vw;
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.25);
}

.reviewMaintenanceText {
  font-weight: 700;
  margin-right: 0.5vw;
  font-size: 1vw;
  height: fit-content;
}

.reviewMaintenanceInt {
  font-weight: 700;
  font-size: 1vw;
  height: fit-content;
}

.keywordButton {
  padding: 0.1vw 0.6vw;
  font-weight: 700;
  border: 0.15vw solid #b7b7b7;
  border-radius: 5px;
  width: fit-content;
  margin: 0.5vh 0.5vw;
  font-size: 1vw;
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.25);
}

.reviewKeyword {
  margin: 2vh 0 0 0;
}

.keywordButtonsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.reviewMeritText {
  margin: 3vh 0 0 0.5vw;
  color: #4caf50;
  font-weight: 700;
  font-size: 1vw;
}

.reviewMeritContent {
  margin-top: 1vh;
  font-weight: 700;
  padding: 0 1.5vw;
  font-size: 1vw;
}

.reviewDemeritText {
  margin: 3vh 0 0 0.5vw;
  color: #f44366;
  font-weight: 600;
  font-size: 1vw;
}

.reviewDemeritContent {
  margin-top: 1vh;
  font-weight: 600;
  padding: 0 1.5vw;
  color: #000000;
  font-size: 1vw;
}

.otherReview {
  margin: 1.5vw 1vw;
}
