.div {
  width: 30vw;
  max-height: 100vh;
  overflow-y: scroll;
  border-right: 0.1vw solid lightgray;
}

.div::-webkit-scrollbar {
  width: 0;
}

.OneReviewHouseDiv {
  margin: 0 1vw 1vw;
  background-color: #f8f9fa;
  border-radius: 6px;
  padding: 1vw 0.5vw;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.1vw solid #b7b7b7;
}

.likeButton {
  margin: 4vh 1vw 2vh;
  width: 28vw;
  display: flex;
  justify-content: flex-end;
}

.likeButtonDiv {
  display: flex;
  align-items: center;
}

.likeButtonSpan {
  font-size: 1vw;
  font-weight: 700;
  color: #495057;
  margin-left: 0.2vw;
}

.OneReviewHouseTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.houseAddress {
  font-size: 1.2vw;
  font-weight: 600;
  color: #495057;
  margin-left: 1vw;
}

.OneReviewRatioTitle {
  width: 20vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 3vh 0 0.5vh 0;
}

.GoodButtonSpan,
.BadButtonSpan {
  display: flex;
  flex: column;
  align-items: center;
}

.OneReviewLike,
.OneReviewDislike {
  font-weight: 700;
  margin-left: 0.5vw;
  font-size: 1vw;
}

.ratioBar {
  display: flex;
  width: 20vw;
  height: 2vh;

  background: #eee;
  border-radius: 1vw;
}

.ratioLike {
  background-color: #4caf50;
  height: 100%;
  width: 50%;
  border-radius: 1vw 0 0 1vw;
}

.ratioDislike {
  background-color: #f44366;
  height: 100%;
  width: 50%;
  border-radius: 0 1vw 1vw 0;
}

.backButtonDiv {
  width: 28vw;
  margin: 1vh 1vw;
  display: flex;
  justify-content: flex-end;
}

.backButton {
  padding: 0.2vw 0.6vw;
  border: 0.15vw solid #b7b7b7;
  border-radius: 5px;
  width: fit-content;
  font-size: 0.8vw;
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.25);
  font-weight: 700;
  color: #333;
  background-color: white;
}

.backButton:hover {
  background-color: #760023;
  color: white;
}

.checkBox {
  margin-top: 4vh;
  width: 28.5vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

.checkBoxRectangle {
  display: inline-block;
  width: 0.8vw;
  height: 0.8vw;
  margin-right: 0.3vw;
  border: 0.15vw solid black;
  position: relative;
}

.checkBoxText {
  font-weight: 700;
  font-size: 0.9vw;
}

.checked {
  position: absolute;
  transform: translate(-15%, -50%);
  z-index: 1;
}

.reviewList {
  margin-top: 2vh;
}

.reviewListTitle {
  font-size: 1.2vw;
  font-weight: 700;
  width: fit-content;
  margin-left: 1.5vw;
  color: #495057;
}
