.contents {
  margin: 3vh;
  background-color: white;
  height:fit-content;
}

.results_container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.results_container li {
  border-bottom: solid #ccc;
}

.results_container li .content_wrapper {
  padding: 0.8vw;
}

/* Optional: You can add hover styles for better user experience */
.results_container li:hover {
  background-color: #f0f0f0;
}

.li_container {
  position: inherit;
  height: 36vh ;
  overflow-y: auto;
  
}

.searchBtn{
  width: 22vw;
  display: flex;
  justify-content: flex-end;
  margin-top:1vh;
}

.searchBtn Button {
  margin: 0.4vh 1.2vh;
}

.contents input {
  width: 21vw;
  height: 4vh;
  border-radius: 0.5vh;
  border: 0.1vh solid #ccc;
}
