.nav {
  background: #760023;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 7vw;
  height: 100vh;
}

.navbar {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 2;
  color: white;
  text-decoration: none;
  font-weight: 700;
  margin-bottom: 2.5vh;
}

.icon:hover {
  text-decoration: underline;
}

.mainImg {
  width: 5vw;
  height: 20vh;
  margin-top: 2.5vh;
}

.iconImg {
  width: 4vw;
  height: 6vh;
}

.iconSpan {
  margin: 2vh 0;
  font-size: 0.9vw;
}
