.questionButton {
  background-color: transparent;
  border: none;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  position: relative;
}

.profileIcon,
.feedbackIcon,
.questionIcon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 5vw;
  height: 5vw;
  margin-top: 1vh;
  border-radius: 50%;
  background-color: #760023;
  text-decoration: none;
  border: none;
}

.profileIcon svg,
.questionIcon svg {
  fill: white;
  width: 55%;
  height: 55%;
}

.feedbackIcon svg {
  fill: white;
  width: 50%;
  height: 50%;
}

.p1,
.p2 {
  color: white;
  font-size: 0.8vw;
}

.quesitonBubbleFlex {
  height: 50vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.iconWrapper {
  animation-duration: 0.4s;
  animation-timing-function: ease-out;
  opacity: 0;
}

.showIcon {
  animation-name: fadeIn;
  opacity: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
