.areaButton {
  padding: 0.1vw 0.6vw;
  border: 0.15vw solid #b7b7b7;
  border-radius: 5px;
  width: fit-content;
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.25);
  font-size: 1.2vw;
  font-weight: bold;
  color: #333;
  background-color: white;
  position: relative;
  top: -2.5vh;
  z-index: 1;
}
