.oneHouse {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 11vw;
  height: 20vh;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #ffffff;
  padding: 1vh 1vw;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  position: relative;
  transition: transform 0.2s;
}
.oneHouse:hover {
  transform: translateY(
    -0.5rem
  ); /* 마우스 호버 시 위로 올라가는 애니메이션 효과 추가 */
}

.userLiked {
  border-color: red;
  border-width: 2px;
}

.houseAddress {
  font-size: 1vw;
  color: #666;
  margin-bottom: 0.5vh;
  font-weight: 600;
}

.ratioBar {
  display: flex;
  width: 12vw;
  height: 0.8vh;
  position: absolute;
  bottom: 2vh;
  background: #eee;
  border-radius: 2px;
}

.ratioLike {
  background-color: #4caf50;
  height: 100%;
  width: 50%;
  border-radius: 2px 0 0 2px;
}

.ratioDislike {
  background-color: #f44366;
  height: 100%;
  width: 50%;
  border-radius: 0 2px 2px 0;
}
